.numbers_section_container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    z-index: 1;
}

@media (max-width: 1390px) {
    .numbers_section_container {
        position: static;

    }
}