.wifi_page {
    width: calc(100vw - 160px);

    h1 {
        margin: 24px auto 48px;
        width: fit-content;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        font-weight: 500;
    }
}