.control {
    padding-bottom: 132px;

    &__d_pads {
        height: 709px;
        background-color: #292424;
    }

    &__calibration {

        &__title {
            margin: 40px auto 32px;

        }

        &__inputs_container {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 56px;
            flex-wrap: wrap;
        }
    }
}