.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main {
    margin: 100px auto 0 auto;
    width: calc(100vw - 20%);
    padding-bottom: 100px;
}

.table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px 0;
    padding: 0;
    list-style-type: none;
}

.choose_line_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

@media (max-width: 1390px) {
    .choose_line_container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 1120px) {
    .table_header {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .table_header {
        align-items: start;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px
    }
}