.card_container {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
    width: 70%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.header_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.name_container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.id {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(195, 192, 192);
}

.name {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.post_title {
    margin: 7px 0 0 0;
    padding: 0;
    font-size: 19px;
    line-height: 25px;
}

.post_text {
    width: 100%;
    font-size: 12px;
    color: gray;
    margin: 7px 0 7px 0;
}

.span_button {
    font-size: 12px;
    background: radial-gradient(circle farthest-corner at 100% -25%, white, #92e4e6, #4ca1af 35%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    cursor: pointer;
}

.span_button:hover {
    background: radial-gradient(circle farthest-corner at 0% 0%, white, #92e4e6, #4ca1af 35%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.span_button:active {
    background: radial-gradient(circle farthest-corner at 0% 0%, white, #92e4e6, #4ca1af 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.icons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    height: 50px;
    align-items: end;
}

.main_icons_container {
    display: flex;
    flex-direction: row;
    gap: 7px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 25px;
}

.button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    height: 25px;
}

.icon {
    width: 25px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.icon:hover {
    background-color: rgb(230, 228, 228);
}

@media (max-width: 767px) {
    .card_container {
        width: 100%;
    }
}