.filters_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters_header {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.filters {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    gap: 20px;
}

.favorites_container {
    display: flex;
    gap: 5px;
}

.favorites_checkbox {
    margin: 0;
    width: 18px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .filters_container {
        flex-direction: column;
        align-items: start;

    }

    .filters {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0 0 0;
    }
}